<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Assets/level1/animations/DetectiveArm1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{107,259}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,261}</string>
			</dict>
			<key>Assets/level1/animations/DetectiveArm2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,259},{107,259}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,261}</string>
			</dict>
			<key>Assets/level1/animations/DetectiveArm3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{107,259}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,261}</string>
			</dict>
			<key>Assets/level1/animations/DetectiveArm4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,777},{107,259}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,261}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>detectiveSwing.png</string>
			<key>realTextureFileName</key>
			<string>detectiveSwing.png</string>
			<key>size</key>
			<string>{259,884}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>259</integer>
			<key>height</key>
			<integer>884</integer>
		</dict>
	</dict>
</plist>