<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1,775},{230,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{537,775},{230,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{543,539},{230,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1,775},{230,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{697,1},{230,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{929,1},{230,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1073,771},{230,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1079,537},{230,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1161,1},{230,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,536}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{233,1},{230,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,13}</string>
                <key>spriteSize</key>
                <string>{230,532}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1625,1},{230,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{230,540}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,534}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1393,1},{230,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{230,536}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{465,1},{230,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,13}</string>
                <key>spriteSize</key>
                <string>{230,532}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1625,535},{230,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{230,540}</string>
                <key>spriteSourceSize</key>
                <string>{1000,600}</string>
                <key>textureRect</key>
                <string>{{1,543},{230,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menuPlayer.png</string>
            <key>size</key>
            <string>{1856,1068}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6a04105bac501c664e9226192676e64:aec8ee5d7c508c16760de4ec2901d944:ec5915e1b488be5cb74f9f03d4d29593$</string>
            <key>textureFileName</key>
            <string>menuPlayer.png</string>
        </dict>
    </dict>
</plist>
